{% extends "blog/index.html" %}


{% block titulo_de_pagina %}
<h1><i>Acerca de Mi</i></h1>
{% endblock %}

{% block contenido %}
<div class="text-center">
    <div class = "row gx-56 aling-items.center">
        <div class ="container px-5 my-5">
            <h5 class = "fw-bolder"> Santiago Pozzolo</h5>
            <div class = "fst-italic text-muted">Tengo 19 años, soy de Capital Federal y aspiro a trabajar en el mundo de la programacion dentro de los proximos años</div>
        </div>
    </div>
</div>

{% endblock %}

{% block comentarios %}
{% endblock %}