{% extends "blog/index.html" %} 

{% block titulo_de_pagina %}
<h1>Crear Publicacion</h1>  
{% endblock %}

{% block contenido %}
<br>
<main class="container">
    <div class="card h-100 shadow border-0">
        <div class=" col-md-2 offset-md-1">
                <form enctype="multipart/form-data" action="" method="POST">
                    {% csrf_token %} 
                            <table>                         
                                {{ publicacion.media }}
                                {{ publicacion }}
                            </table>
                        <input type="submit" class="btn btn-primary" value="Enviar">
                        <br>
                </form>
            <br> 
        </div>
    </div>
</main>
<br>
<br>

{% endblock %}

{% block comentarios %}
{% endblock %}
